<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hzit.dao.mapper.UserinfoMapper">

    <sql id="userinfoBaseColumnSql">
        userid,
        username,
        userpwd,
        role_id,
        isuse,
        isdelete,
        creat_name,
        creat_time,
        update_name,
        update_time
    </sql>

    <sql id="userinfoBaseWhereSql">
        <if test="map!=null">
            <where>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userid)">
                    userid = #{map.userid}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.username)">
                    AND username = #{map.username}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.userpwd)">
                    AND userpwd = #{map.userpwd}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.roleId)">
                    AND role_id = #{map.roleId}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.isuse)">
                    AND isuse = #{map.isuse}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.isdelete)">
                    AND isdelete = #{map.isdelete}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.creatName)">
                    AND creat_name = #{map.creatName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.creatTime)">
                    AND creat_time = #{map.creatTime}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.updateName)">
                    AND update_name = #{map.updateName}
                </if>
                <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(map.updateTime)">
                    AND update_time = #{map.updateTime}
                </if>
            </where>
        </if>
    </sql>

    <insert id="insertUserinfo" parameterType="com.hzit.dao.entity.Userinfo">
        INSERT INTO userinfo(
        <include refid="userinfoBaseColumnSql"/>
        )VALUES(
            #{userid},
            #{username},
            #{userpwd},
            #{roleId},
            #{isuse},
            #{isdelete},
            #{creatName},
            #{creatTime},
            #{updateName},
            #{updateTime}
        )
    </insert>

    
    <delete id="deleteUserinfoByUserid" parameterType="String">
        DELETE FROM userinfo WHERE userid = #{userid}
    </delete>

    <update id="updateUserinfo" parameterType="com.hzit.dao.entity.Userinfo">
        UPDATE userinfo
        <set>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(username)">
                username = #{username} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(userpwd)">
                userpwd = #{userpwd} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(roleId)">
                role_id = #{roleId} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(isuse)">
                isuse = #{isuse} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(isdelete)">
                isdelete = #{isdelete} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(creatName)">
                creat_name = #{creatName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(creatTime)">
                creat_time = #{creatTime} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(updateName)">
                update_name = #{updateName} ,
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(updateTime)">
                update_time = #{updateTime} ,
            </if>
        </set>
        WHERE userid = #{userid}
    </update>

    <select id="searchUserinfoByParams" parameterType="map" resultMap="userinfoMap">
        SELECT
        <include refid="userinfoBaseColumnSql"/>
        FROM userinfo
        <include refid="userinfoBaseWhereSql"/>
    </select>

    <resultMap type="com.hzit.dao.entity.Userinfo" id="userinfoMap">
        <id column="userid" property="userid"/>
        <result column="username" property="username"/>
        <result column="userpwd" property="userpwd"/>
        <result column="role_id" property="roleId"/>
        <result column="isuse" property="isuse"/>
        <result column="isdelete" property="isdelete"/>
        <result column="creat_name" property="creatName"/>
        <result column="creat_time" property="creatTime"/>
        <result column="update_name" property="updateName"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

</mapper>
